<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="penObj" class="com.blz.springdemo.model.Pen" >
        <property name="name" value="cello"/>
        </bean>
        <bean id="student" class="com.blz.springdemo.model.Student">
        <property name="id" value="10" />
        <property name="name" value="chandrakala" />
        <property name="pen" ref="penObj"></property>
        </bean>
</beans>